.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
    padding-top: 12.2%;
}

.navbar a:hover{
    background-color: darkgray;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    position: initial;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    padding-left: 1%;
    line-height: 20%;
}

form{
    margin: 3px;
}

.search {
    box-sizing: border-box;
    width: 30%;
    padding: 4px 4px 4px 10px;
    font-size: 14px;
    line-height: 20px;
    background: #7d6b7f24;
    color: #00000082;
    border-radius: 13px;
}
    .search:focus {
        color: black;
        background-color: #7d6b7f00
    }

.feedback-space {
    padding-left: 1%;
}
.feedback-block {
    border: solid #0006;
    border-radius: 15px;
    overflow: auto;
    margin: 1% 45% 1% 1%;
    padding-left: 1%;
}

    .feedback-block, .feedback-block * {
        background: #feeeee;
    }

.feedback-button {
    margin-left: 1%;
    box-sizing: border-box;
    width: 170px;
    height: 34px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    border-block-color: #ddb6f8;
    background: #a179a4bd;
}

aside {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

*:Not(aside,aside *) {
    background-color: rgb(240, 230, 250);
}
