.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
    padding-top: 12.2%;
}

.navbar a:hover{
    background-color: darkgray;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

footer {
    position: initial;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    padding-left: 1%;
    line-height: 20%;
}

form{
    margin: 3px;
}

.search {
    box-sizing: border-box;
    width: 30%;
    padding: 4px 4px 4px 10px;
    font-size: 14px;
    line-height: 20px;
    background: #7d6b7f24;
    color: #00000082;
    border-radius: 13px;
}
    .search:focus {
        color: black;
        background-color: #7d6b7f00
    }

.feedback-space {
    padding-left: 1%;
}
.feedback-block {
    border: solid #0006;
    border-width: 2px;
    border-radius: 15px;
    overflow: auto;
    margin: 1% 45% 1% 1%;
    padding-left: 1%;
}

    .feedback-block, .feedback-block * {
        background: #e7dfefe3;
    }

.feedback-button {
    margin-left: 1%;
    box-sizing: border-box;
    width: 170px;
    height: 34px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    border-block-color: #ddb6f8;
    background: #a179a4bd;
}

aside {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

*:Not(i,p,aside,aside *,img) {
    background-color: rgb(240, 230, 250);
}

.rateButton {
    background-color: #f2cdcd;
    border-radius: 11px;
    border-width: thin;
    border-color: currentColor;
}

.container {
    display: inline-flex;
    min-width: 450px;
    background-color: #6c686e14;
    width: 60%;
    padding: 20px 8px;
    border: ridge;
    border-color: lavender;
}
.container-item {
    flex-grow: 1;
    width: 60%;
    height: 390px;
    margin: 4px;
}
.arrow {
    background-color: #e6dceb;
    display: inline-flex;
}
span i {
    cursor: pointer;
    border: solid black;
    border-width: 0 6px 6px 0;
    display: flex;
    padding: 8px;
    background-color: #e6dceb;
    border-color: rgb(47 79 147);
    justify-content: space-between;
    align-self: center;
}
.arrow-left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}