<div class="container">
    <img class="container-item" src="/Static/Images/Moscow.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/SaintPetersburg.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/SaintPetersburg1.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London.jpeg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London1.jpeg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London3.jpg" alt="Alternate Text" />
    <span class="arrow" onclick="prevImage()" style="order: -1"><i class="arrow-left"></i></span>
    <span class="arrow" onclick="nextImage()" style="order: 1"><i class="arrow-right"></i></span>
</div> 