<div class="container">
    <img class="container-item" src="/Static/Images/Moscow.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/SaintPetersburg.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/SaintPetersburg1.jpg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London.jpeg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London1.jpeg" alt="Alternate Text" />
    <img class="container-item" src="/Static/Images/London3.jpg" alt="Alternate Text" />
    <button class="prev" onclick="prevImage()">Назад</button>
    <button class="next" onclick="nextImage()">Вперед</button>
</div> 